gym~=0.25.2
joblib==1.4.2
mujoco_py==2.1.2.14
cython~=0.29.24
numpy~=1.19.2
Pillow==11.1.0
ray~=2.1.0
setuptools==47.1.0
tensorflow==2.5.0
tensorflow_probability==0.13.0
xmltodict==0.14.2
referencing <0.30
matplotlib
pandas
seaborn
